/*body {

background-image: url(https://static.vecteezy.com/system/resources/previews/005/275/440/non_2x/repeatable-pattern-of-small-love-related-icons-with-random-dots-vector.jpg);*/

/*  background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
background-blend-mode: multiply;*/
* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(124, 244, 244);
    height: 130px;

    display: flex;

}

ul{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 25px;
    margin: 5px 15px;
}