*{
    font-size: 1.5rem;
}

header{
background-color: aquamarine;
width: auto;
height: 200px;

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    width: auto;
    height: 600px;

}
aside{
    display: flex;
    background-color: rgb(216, 194, 114);
    width: 250px;
    height: 600px;

}
footer{
    background-color: rgb(20, 56, 56);
    width: auto;
    height: 600px;

}

.cuadro{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: darkgoldenrod;

}