

ul {
    list-style-type: square;
}

ol{
    list-style: decimal;
}

h1{
    background-color: blueviolet;
}



div{
    display: inline-block;
    background-color: aqua;
    width:200px;

}

a{
    display: inline-block;
    background-color: bisque;
    width: 200px;
    height: 400px;
    border: 1px solid red;


}

span{
    font-size: large;
    font-family: cursive;
    font-weight: 700;
    border: 1px dashed blue;





}




