.iniciodesesion{
    
    opacity: 110%;
    font-family: 'Josefin Sans';background-image: url(https://t3.ftcdn.net/jpg/02/98/62/46/360_F_298624693_ME6Vstt4mgB1ICNBtaZPTxIIj13HQ0hd.jpg);
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    /* font-weight: 100; */
    
}